header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: url('../img/Rectangle.png');
    overflow: hidden;

    &::before {
        background: url('../img/tower.png');
        content: '';
        position: absolute;
        bottom: 6px;
        height: 80px;
        width: 140%;
        background-repeat: repeat;
        z-index: 99;
        /* right: 0; */
        left: -90px;
        opacity: 0.5;
    }

    &::after {
        background: url('../img/tower.png');
        content: '';
        position: absolute;
        bottom: 0;
        height: 80px;
        width: 100%;
        background-repeat: repeat;
        z-index: 99;
        right: 0;
        left: 0;
    }

    h1 {
        color: #fff;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin: 5rem 0;
    }

    .navbar-light {
        .navbar-nav {
            display: flex;
            align-items: center;

            .nav-link {
                color: rgb(255 255 255);
            }

            img {
                width: 20px;
            }
        }
    }
}
