.project-list {
    padding: 1rem 0;
    background-color: whitesmoke;
    justify-content: center;

    &_tlt {
        text-align: center;
        font-size: 28px;
        line-height: 2em;
        font-weight: bold;

        &_desc {
            line-height: 2em;
            text-align: center;
            font-size: 14px;
            margin-bottom: 1rem;
        }
    }
}


.project-list_tabsec {
    ul {
        @media(min-width:767px) {
            margin-right: 15px;
        }


        li {
            @media(max-width:767px) {
                margin-left: 1rem;
                margin-bottom: 1rem;
            }

            .nav-link {
                border-radius: 15px 15px 0 0;
                color: #888;
                background-color: #e3e3e3;

                @media(min-width:767px) {
                    margin-right: 20px;
                }

                @media(max-width:767px) {
                    border-radius: 12px;
                    background-color: #dcf0f3;
                    color: #00baba;
                }

                &.active {
                    @media(min-width:767px) {
                        background-color: #ffffff;
                        color: #000;
                        box-shadow: -2px -3px 3px -1px #aaa;
                    }

                    @media(max-width:767px) {
                        background-color: #00baba;
                        color: #fff;
                    }
                }
            }
        }
    }
}


.project-list_tabsec {
    ul {
        li {
            .nav-link {
                line-height: 2.3em;
                padding: 0.5rem 1rem;
                display: flex;
                align-items: center;

                &.active {
                    @media(max-width:767px) {
                        background-color: #00baba;
                        color: #fff;
                        border-radius: 12px;
                    }
                }
            }

            .nav-link {
                img {
                    width: 20px;
                    height: 20px;
                    margin-left: 5px;
                }
            }
        }
    }

    .tab-content {
        @media(min-width:767px) {
            border-radius: 20px;
            padding: 35px;
            background: #fff;
        }

        .tab-pane {
            &.active {
                display: block;
                background: #fff;
                border-radius: 12px;
            }

            .accordion {

                @media(max-width:767px) {
                    background: whitesmoke;
                }
            }
        }
    }

    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        border-color: transparent !important;
        isolation: isolate;
    }

    .tab-pane-item {
        @media(max-width:992px) {
            margin-bottom: 8px;
        }

        .collapsed {
            border-bottom: 1px solid #aaa;
        }

        .accordion-header {
            position: relative;

            &:after {

                @media(min-width:992px) {
                    width: 8px;
                    height: 8px;
                    background: #1fc5b9;
                    position: absolute;
                    content: '';
                    right: 15px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    border-radius: 50px;
                    z-index: 99;
                }
            }
        }

        .accordion-collapse {
            border-right: 2px solid #1fc5b9;
            border-left: 2px solid #1fc5b9;
            border-radius: 0 0 15px 15px;
            border-bottom: 2px solid #1fc5b9;
            transition: 0s;

            &.show {
                background: #fff;
            }
        }

        .accordion-button {
            &:not(.collapsed) {
                color: #454545;
                background-color: #fff;
                border-right: 2px solid #1fc5b9;
                border-left: 2px solid #1fc5b9;
                border-top: 2px solid #1fc5b9;
                outline: none;
                box-shadow: 0 0 0;
                border-radius: 15px 15px 0 0;
            }

            @media(min-width:992px) {
                padding-right: 30px;
            }

            @media(max-width:992px) {
                padding: 1rem 0.5rem;
                background-color: #e7ecf4;
                border-radius: 12px;
                color: #8fa2c3;
            }
        }

        .accordion-body {

            @media(min-width:992px) {
                padding: 1rem 3.25rem 3rem;
            }

            @media(max-width:992px) {
                padding: 0.5rem;
            }

            .tab-pane-item_box {
                background: #e7ecf4;
                text-align: center;
                padding: 40px 5px;
                line-height: 2em;
                font-size: 15px;
                border-radius: 30px;

                @media(max-width:992px) {
                    margin-bottom: 1rem;
                }

                .expln {
                    color: #a2a2a2;
                }

                img {
                    height: 35px;
                    background: #1fc5b9;
                    padding: 3px;
                    border: 4px solid #d5d5d5;
                    border-radius: 8px;
                    width: 35px;
                }
            }

            .btm_desc {
                ul {
                    li {
                        position: relative;
                        padding-right: 15px;
                        line-height: 2em;
                        font-size: 14px;
                        text-align: justify !important;

                        &::after {
                            position: absolute;
                            right: 0;
                            width: 8px;
                            height: 8px;
                            content: '';
                            border-radius: 50px;
                            background-color: #1fc5b9;
                            top: 8px;
                        }
                    }
                }

                img {
                    height: 35px;
                    background: #1fc5b9;
                    padding: 3px;
                    border: 4px solid #d5d5d5;
                    border-radius: 8px;
                    width: 35px;
                }
            }

            .github_sec {
                border-radius: 10px;
                border: 2px solid #eee;
                padding: 10px 15px;
                display: flex;
                justify-content: space-between;

                &>div {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    line-height: 1.6em;

                    img {
                        margin-left: 5px;
                    }
                }

                &_auther {
                    border-radius: 10px;
                    border: 2px solid #eee;
                    padding: 0 10px;

                    img {
                        border-radius: 50px;
                    }

                    @media(max-width:767px) {
                        display: none !important;
                    }
                }

                img {
                    height: 35px;
                    background: #1fc5b9;
                    padding: 3px;
                    border: 4px solid #d5d5d5;
                    border-radius: 8px;
                    width: 35px;
                }

                .link {
                    font-size: 8px;
                }

            }
        }

        .accordion-button {
            &::after {
                left: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 5px;
                text-align: center;
                background-position: center !important;
                background-repeat: no-repeat !important;
                width: 24px;
                height: 24px;
                background-size: .75rem;

               

            }

            @media(min-width:992px) {
                &::after {
                    margin-left: 10px;
                    background: #eee;
                }

                &:not(.collapsed)::after {
                    background-color: #1ebdb1;
                }

                &::after {
                    background-image: url('../img/chevron_gray.svg');
                }

                &:not(.collapsed)::after {
                    background-image: url('../img/chevron_white.svg');
                    transform: rotate(-90deg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

            @media(max-width:992px) {
                .accordion-button {
                    &::after {
                        background-image: url('../img/chevron_gray.svg');
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
}